<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Cooking Time</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false"
            aria-label="Toggle navigation" (click)="collapsed = !collapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse d-md-flex justify-content-md-between" [class.collapse]="collapsed"
            (window:resize)="collapsed = true">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="loadedFeature == 'recipe' ? 'active' : ''" aria-current="page" href="#" (click)="onSelect('recipe')">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="loadedFeature == 'shopping-list' ? 'active' : ''" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Save Data</a></li>
                        <li><a class="dropdown-item" href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>